<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Team Name<br />
    <%= f.text_field :teamName %>
  </div>
  <div class="field">
    Debator 1 First Name<br />
    <%= f.text_field :tfirstName1 %>
  </div>
  <div class="field">
    Debator 1 Last Name<br />
    <%= f.text_field :tlastName1 %>
  </div>
  <div class="field">
    Debator 2 First Name<br />
    <%= f.text_field :tfirstName2 %>
  </div>
  <div class="field">
    Debator 2 Last Name<br />
    <%= f.text_field :tlastName2 %>
  </div>
  <div class="field">
    Debate Experience<br />
    <%= select_tag(:texp, options_for_select([ ['Novice', 'Novice'],['Varsity','Varsity'],['Hybrid','Hybrid']])) %>
 
  </div>

  <div class="field">
    Seed<br />
    <%= select_tag(:tseed, options_for_select([ ['Full Seed', 'Full'],['Half Seed','Half'],['Free Seed','Free']])) %>
 
  </div>
  
  
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
