<%= form_for(@judge) do |f| %>
  <% if @judge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@judge.errors.count, "error") %> prohibited this judge from being saved:</h2>

      <ul>
      <% @judge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Judge's First Name<br />
    <%= f.text_field :jfirstName %>
  </div>
  <div class="field">
    Judge's Last Name<br />
    <%= f.text_field :jlastName %>
  </div>
  <div class="field">
    Debate Experience<br />
    <%= select_tag(:debate_exp, options_for_select([['Select one',''],['Novice', 'Novice'],['Varsity','Varsity'],['Dino','Dino']])) %>
  </div>
  
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
