<% if school_signed_in? %>

<% if current_school.role_id == 1 %>


<h1>Listing reqs</h1>
</br>

<table cellspace = 4 cellpadding = 7 >
  <tr>
    <th>School</th>
    <th>Diet</th>
    <th>Special</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reqs.each do |req| %>
  <tr>
    <td><%= req.school.sName%></td>
    <td><%= req.diet %></td>
    <td><%= req.special %></td>
    <td><%= link_to 'Show', req %></td>
    <td><%= link_to 'Edit', edit_req_path(req) %></td>
    <td><%= link_to 'Destroy', req, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<% else %>
<script type ="text/javascript">
	window.location.href="/main/index"
</script>
<% end %>

<% end %>
