<p id="notice"><%= notice %></p>



<p>
  <b>Dietary Needs</b>
  <%= @req.diet %>
</p>

<p>
  <b>Anything else?</b>
  <%= @req.special %>
</p>


<%= link_to 'Edit', edit_req_path(@req) %> |
<% if Transpo.find_by_school_id(current_school) %>  
<%= link_to 'Transportation', edit_transpo_path(Transpo.find_by_school_id(current_school)) %>
<% else %> 
<%= link_to 'Transportation', new_transpo_path %>
<% end %>  |
<%= link_to 'Next', main_index_path %>
