<% if school_signed_in? %>

<% if current_school.role_id == 1 %>



<h1>Listing transpos</h1>
<% for school in @schools.sort{|a,b| a.sName <=> b.sName } %>
<%= link_to school.sName, transpos_path({:sView => school.id})%> |
<% end %>
<table>
  <tr>
    <th>Fpickup</th>
    <th>Fpickup time</th>
    <th>Fpickup number</th>
    <th>Spickup</th>
    <th>Spickup time</th>
    <th>Spickup number</th>
    <th>Sdropoff</th>
    <th>Sdropoff time</th>
    <th>Sdropoff number</th>
    <th>School</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transpos.each do |transpo| %>
  <tr>
    <td><%= transpo.fpickup %></td>
    <td><%= transpo.fpickup_time %></td>
    <td><%= transpo.fpickup_number %></td>
    <td><%= transpo.spickup %></td>
    <td><%= transpo.spickup_time %></td>
    <td><%= transpo.spickup_number %></td>
    <td><%= transpo.sdropoff %></td>
    <td><%= transpo.sdropoff_time %></td>
    <td><%= transpo.sdropoff_number %></td>
    <td><%= transpo.school_id %></td>
    <td><%= link_to 'Show', transpo %></td>
    <td><%= link_to 'Edit', edit_transpo_path(transpo) %></td>
    <td><%= link_to 'Destroy', transpo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<% else %>
<script type ="text/javascript">
	window.location.href="/main/index"
</script>
<% end %>

<% end %>
